/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: white;

}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background-color: #010926;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
}

/* Main */
.main-outer {
    width: 100vw;
    height: 100vh;
}

.main-inner {
    width: 100%;
    height: 100%;
    background-color: #010926;
    display: flex;
    flex-direction: column;

}

audio {
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 90px;
    height: 40px;
    overflow: auto;
}

audio:hover {
    width: 140px;
    transition: .2s;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

/* Header */
.header-outer {
    width: 100%;
    height: 96px;
    position: fixed;
    background-color: #010926;

}

.header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    background-image: url("/favicon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.name {
    flex: 1;
    height: 40px;
}

.name > h3 > span {
    font-weight: lighter;
}

.name > h6 {
    font-weight: lighter;
}

.search {
    width: 460px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.07);
}

.search-icon {
    width: 30px;
    height: 16px;
    margin-left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search > form {
    flex: 1;
    margin-right: 10px;
}

.search-bar {
    background-color: rgba(1, 9, 38, 0);
    height: 40px;
    width: 100%;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.location-icon {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-location {
    width: 160px;
    height: 45px;
    border-radius: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #692FEF;
    cursor: pointer;
}

.current-location > div > h5 {
    font-weight: normal;
}

/* Main container */
.main-container {
    padding-top: 96px;
    width: 100%;
    flex: 1;
    display: flex;
}

.left-container-outer {
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: #010926;
    padding: 5px;
}

.left-container-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-box {
    width: 280px;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.now-weather > .top {
    width: 100%;
    height: 140px;
}

.now-weather > hr {
    margin: 0 30px;
    border-color: rgba(255, 255, 255, 0.14);
}

.now-weather > .bottom {
    width: 100%;
    height: 70px;
}

.now-weather > .top > h4 {
    margin-top: 25px;
    margin-left: 30px;
}

.tem-card {
    width: 240px;
    height: 60px;
    margin: 10px 25px;
    display: flex;
}

.tem {
    height: 100%;
    width: 150px;
}

.tem > h1 {
    font-size: 50px;
}

.tem-icon {
    height: 100%;
    flex: 1;
}

.tem-icon > img {
    width: 60px;
    height: 60px;
}

.now-weather > .bottom > .date-card,
.now-weather > .bottom > .location-card {
    width: auto;
    height: 30px;
    margin-left: 30px;
    display: flex;
}

.now-weather > .bottom > .date-card > i,
.now-weather > .bottom > .location-card > i {
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.98);
}

.now-weather > .bottom > .date-card > h5,
.now-weather > .bottom > .location-card > h5 {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.62);
}

.next-five-days {
    justify-content: center;
    padding: 10px 0;
}

.inner-box > .day-card {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.inner-box > .day-card > img {
    width: 25px;
    height: 25px;
    margin-left: 30px;
}

.inner-box > .day-card > h4 {
    margin-left: 10px;
}

.inner-box > .day-card > h6 {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.56);
    font-weight: normal;
}

.inner-box {
    width: 280px;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* Right container */
.right-container-outer {
    height: auto;
    flex: 1;
    background: #010926;
    padding-left: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.right-container-inner {
    height: 100%;
    flex: 1;
}

.today-highlight-card {
    width: 900px;
    height: 420px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.today-highlight-card.next-few-hours {
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #010926;
    height: 380px;
!important;
}

.dt-box {
    width: 100px;
    height: 130px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
}

.weather >.res>.dt-box:hover {
    width: 105px;
    height: 138px;
    transition: .2s;
    background-color: #2772db;
    cursor: pointer;
}

.windy >.res> .dt-box:hover {
    width: 105px;
    height: 138px;
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;

}

/*a393eb*/

.dt-box > img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.next-few-hours > .row {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-few-hours > .row.footer > h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.44);
}

.next-few-hours > .row.footer > h5 > img {
    height: 25px;
}

.next-few-hours > .row.footer {
    justify-content: center;
!important;
    height: 90px;
}

/*--------*/
.today-highlight-card > .row-1 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-highlight-card > .row-2 {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.today-highlight-card > .row-1 > .inner {
    width: 413px;
    height: 170px;
    border-radius: 10px;
    background-color: rgba(1, 9, 38, 0.89);
    display: flex;
    flex-direction: column;
}

.today-highlight-card > .row-2 > .mb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-highlight-card > .row-2 > .mb>.pressure{
    margin-left: 12px;
}
.today-highlight-card > .row-2 > .mb>.visibility{
    margin-right: 12px;
}

.today-highlight-card > .row-2 > .mb > .inner {
    width: 200px;
    height: 130px;
    border-radius: 10px;
    background-color: rgba(1, 9, 38, 0.89);
    display: flex;
    flex-direction: column;
}

.today-highlight-card > .row-1 > .inner > .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-highlight-card > .row-1 > .inner > .title > h5 {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: normal;
}

.today-highlight-card > .row-1 > .inner > .title > .feeling-text {
    width: 70px;
    height: 20px;
    margin-right: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f70776;
}

.today-highlight-card > .row-1 > .inner > .content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.today-highlight-card > .row-1 > .inner > .content > .box {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.today-highlight-card > .row-1 > .inner > .content > .box > i {
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
}

.today-highlight-card > .row-1 > .inner > .content > .box > h6 {
    color: rgba(255, 255, 255, 0.48);
    font-weight: lighter;
}

.today-highlight-card > .row-1 > .inner > .content > .box > h1 {
    color: rgba(255, 255, 255, 0.91);
    font-weight: lighter;
    font-size: 30px;
}

.sun-rise > .content > .dt {
    width: 360px;
!important;
}

.today-highlight-card > .row-2 > .mb > .inner > .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-highlight-card > .row-2 > .mb > .inner > .title > h5 {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: normal;
}


.today-highlight-card > .row-2 > .mb > .inner > .content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.today-highlight-card > .row-2 > .mb > .inner > .content > .box > i {
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
}

.today-highlight-card > .row-2 > .mb > .inner > .content > .box > h6 {
    color: rgba(255, 255, 255, 0.48);
    font-weight: lighter;
}

.today-highlight-card > .row-2 > .mb > .inner > .content > .box > h1 {
    color: rgba(255, 255, 255, 0.91);
    font-weight: lighter;
    font-size: 30px;
}

.today-highlight-card > .row-1 > .inner.sun-rise {
    background-color: rgba(216, 88, 246, 0.62);
    cursor: pointer;
}

.today-highlight-card > .row-1 > .inner.air-quality {
    background-color: rgba(255, 255, 255, 0.19);
    transition: .7s;
    cursor: pointer;
}

.today-highlight-card > .row-2 > .mb > .inner {
    background: #407088;;
}

.res{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media only screen and (max-width: 900px) {

    .main-container {
        flex-direction: column;
    }

    .header-outer {
        z-index: 1000;
    }

    .left-container-outer {
        position: relative;
        z-index: 0;
        width: 100vw;
        padding: 0;
    }


    .right-container-outer {
        width: 100vw;
        height: auto;
        padding-left: 0;
        padding-top: 40px;
    }

    .right-container-inner {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .today-highlight-card {
        width: 90vw;
        height: auto;
        margin-left: 0;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.04);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .today-highlight-card > .row-1 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* border: 1px solid red;*/
    }


    .today-highlight-card > .row-2 {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .today-highlight-card > .row-1>.inner {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 95%;
    }

    .inner.sun-rise {
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

    .inner.air-quality {
        margin-left: 0 !important;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .humanity {
        margin-left: 0 !important;
    }

    .feels-like {
        margin-right: 0 !important;
    }

    .header-inner{

    }
    .search{
        width:150px;
        height: 40px;
    }

    .search > form {
        flex: 1;
        margin-right: 10px;
        width: 80px;
    }

    .search-bar {
        height: 40px;
        width: 100%;
        border: none;
    }

    .search-bar:focus {
        outline: none;
    }

    .current-location {
        width: 80%;
        height: 40px;
        border-radius: 50px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #692FEF;
        cursor: pointer;
    }

    .current-location > div > h5 {
      display: none;
    }

    .location-icon {
        border-radius: 50px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .inner-box {
        width: 90%;
        height: 250px;

    }

    .inner-box.next-five-days{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .today-highlight-card>.row-2>.mb{
        width: 95%;
        border: 1px solid #010926;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .today-highlight-card>.row-2>.mb>.inner{
        width: 49%;
    }


    .next-few-hours > .row{
        height: auto;
        flex-direction: column;

    }

    .right-container-outer{
        height: auto;
    }

    .right-container-inner{
        height: auto;
    }

    .today-highlight-card.next-few-hours{
        height: auto;
    }

    .res{
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .res>.dt-box{
        margin: 3px;
    }

    .res>.dt-box:first-child{
        margin-left: 0;
    }

    .res>.dt-box:last-child{
        margin-right: 0;
    }

    .next-few-hours > .row.footer>h5{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}



@media only screen and (max-width: 600px){
    .today-highlight-card > .row-1 > .inner > .content > .box > h1,
    .today-highlight-card > .row-2 > .mb > .inner > .content > .box > h1,
    .today-highlight-card > .row-1 > .inner > .content > .box > i{
        font-size: 25px;
    }
}








